/*.snake-container {
    position: absolute;
    top: 0px;
    left: 0px;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.snake-top-left {
    height: 100px;
    width: 15px;
    background: white;
}

.snake-top-right {
    height: 100px;
    width: 15px;
    background: white;
}

.middle {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.snake-middle-left {
    height: 15px;
    background: white;
}

.snake-middle-right {
    //width: 100px;

    height: 15px;
    background: white;
}

.bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.snake-bottom-left {
    height: 100px;
    width: 15px;
    background: white;
}

.snake-bottom-right {
    height: 100px;
    width: 15px;
    background: white;
}*/

/*.snake-box {
    display
}*/

.snake-body {
    background: white;
    position: absolute;
    direction: rtl;
    display: flex;
    flex-flow: row-reverse;
    /*top: 80px;
    left: 80px;*/
    &.middle {
        width: 100px;
        height: 15px;
        //top: 100px;
        //left: 100px;
    }

    &.top {
        height: 0px;
        width: 0px;
        //left: 200px;
        //top: 15px;
    }

    &.bottom {
        height: 100px;
        width: 15px;
        //left: 200px;
        //top: 100px;
    }
}